header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    margin-right: 20px;
}

.logo img {
    max-width: 50px;
}

.titulo {
    font-size: 20px;
    font-family: 'Arial', sans-serif;
}

main img,
iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 68%;
}

.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}

.carousel-caption {
    top: 0;
    bottom: auto;
}

#tituloRegisto {
    margin-top: 40px;
}

.card-img-top {
    height: 300px;
}

.mr-3 {
    width: 60px;
}

.altura {
    width: 500px !important;
  }
  
.card {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card-img-top {
    object-fit: cover;
    width: 100%;
    height: auto;
}

.card-body {
    flex: 1;
}